body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url("/images/carrr.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(0, 0, 0, 0.45);
  border-radius: 15px;
  padding: 2rem;
  width: 320px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(14px) brightness(0.8);
  -webkit-backdrop-filter: blur(14px) brightness(0.8);
  border: 1px solid rgba(255, 255, 255, 0.12);
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 1.5rem;
}

input {
  width: 100%;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 1rem;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

input::placeholder {
  color: #ccc;
}

button {
    width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  background-color: #00aaff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: #007acc;
}

p {
  color: #ccc;
  font-size: 0.85rem;
  text-align: center;
  margin-top: 0.8rem;
}

p a {
  color: #00aaff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
